<html>
<head>
<title> ROR - Facebook Integration </title>
<body>
<div align="center">
<h1> Hi !! </h1>
<h3> Your Profile picture is  </h3>
<img src="<%= @image %>"/>
<h3><a href="../failure"> Click here to sign out  </a>
</body>
</html>