
<html>
<head>
<title>
RoR - Facebook Integration
</title>
</head>
<body>
<h1 align ="center">Facebook Integration With Ruby On Rails</h1>
<div align="center">
<h3>
This app lets you login with your facebook account.
Once after logging in your profile picture will be displayed and a message will be posted on your wall
Click the link below to check out the working
</h3>
<h2><a href="../auth/facebook/">Login with facebook</a></h2>
</body>
</html>
